[Unit]
Description=Cleanup (soft) docker images / containers

[Service]
Type=oneshot

# Remove all dangling images
ExecStart=/usr/bin/docker system prune --force
