# vim: ft=yaml

docker:
  # Users to add to the docker group
  # users: [joe, linda, zoe]

  # To set docker options (via docker.json), you can specify them here (in YAML format)
  # A full list of options is available at https://docs.docker.com/engine/reference/commandline/dockerd
  daemon:
    mtu: 1400
    dns: [172.17.0.1]
    dns-search: [example.com]

  swarm:
    # Configure interface for Docker Swarm communication (defaults to eth0)
    interface: eth0

  prune:
    all: true # true (Default): Remove all unused images, translates to `docker system prune --force --all`
              # false: (Remove only dangling images, translates to `docker system prune --force`
    volumes: false # Remove unused volumes as well. Default: false

# Registry credentials for the docker.login state (if used)
#
# Note that multiple dictionaries, and multiple registries per dictionary, can be specified:
#

docker-registries:
  'https://docker-registry.work.com':
    username: jrabbit
    password: s3cr3t

my-private-docker-registries:
  'https://docker-A.jack-rabbit.com':
    username: jack
    password: c4rr0t
  'https://docker-B.jack-rabbit.com':
    username: jack
    password: c4rr0t
